In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import sparse
import sys
from sklearn.metrics.pairwise import pairwise_distances, cosine_distances, cosine_similarity
from category_encoders import OneHotEncoder

In [2]:
# read in data
cupid = pd.read_pickle('data/clean_cupid.pkl')

In [16]:
cupid.head(3)

,age,status,sex,orientation,body_type,diet,drinks,drugs,location,offspring,pets,religion,smokes
0,22,single,m,straight,a little extra,strictly anything,socially,never,"south san francisco, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism and very serious about it,sometimes
1,35,single,m,straight,average,mostly other,often,sometimes,"oakland, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism but not too serious about it,no
2,38,available,m,straight,thin,anything,socially,never,"san francisco, california",doesn't have kids,has cats,atheism,no

In [17]:
cupid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57473 entries, 0 to 59945
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          57473 non-null  int32
 1   status       57473 non-null  category
 2   sex          57473 non-null  category
 3   orientation  57473 non-null  category
 4   body_type    57473 non-null  category
 5   diet         57473 non-null  category
 6   drinks       57473 non-null  category
 7   drugs        57473 non-null  category
 8   location     57473 non-null  category
 9   offspring    57473 non-null  category
 10  pets         57473 non-null  category
 11  religion     57473 non-null  category
 12  smokes       57473 non-null  category
dtypes: category(12), int32(1)
memory usage: 1.4 MB

#### Creating sparse matrices for each orientation

In [91]:
# # filtering based on sex, then orientation

# # straight m/f

# # cupid[(cupid['sex'] == 'm') and cupid['orientation'] == straight] -- straight_male
# # would have to OHE straight_male
# if ((cupid['sex'] == 'm') & (cupid['orientation'] == 'straight')):
#     straight_female = cupid[(cupid['sex'] == 'f') & (cupid['orientation'] == 'straight')]
#     # ohe
#     straight_encoded = OneHotEncoder(use_cat_names = True).fit_transform(straight_female)
    
#     # recommender
#     # create sparse matrix
#     straight_sparse = sparse.csr_matrix(straight_encoded)

#     # cosine_similarity
#     similarities_straight = cosine_similarity(straight_sparse)

# # gay male
# elif (cupid['sex'] == 'm' & cupid['orientation'] == 'gay'):
#     gay_male = cupid[(cupid['sex'] == 'm') & (cupid['orientation'] == 'gay')]
#     # ohe
#     gay_male_encoded = OneHotEncoder(use_cat_names = True).fit_transform(gay_male)
    
#     # recommender
#     # create sparse matrix
#     gay_male_sparse = sparse.csr_matrix(gay_male_encoded)

#     # cosine_similarity
#     similarities_gay_male = cosine_similarity(gay_male_sparse)
    
# # gay female
# elif (cupid['sex'] == 'f' & cupid['orientation'] == 'gay'):
#     gay_female = cupid[(cupid['sex'] == 'f') & (cupid['orientation'] == 'gay')]
#     # ohe
#     gay_female_encoded = OneHotEncoder(use_cat_names = True).fit_transform(gay_female)
    
#     # recommender
#     # create sparse matrix
#     gay_female_sparse = sparse.csr_matrix(gay_female_encoded)

#     # cosine_similarity
#     similarities_gay_female = cosine_similarity(gay_female_sparse)
    
# # bi m/f
# elif (cupid['sex'] == 'm' & cupid['orientation'] == 'bi'):
#     bi_female = cupid[(cupid['sex'] == 'f') & (cupid['orientation'] == 'bi')]
#     # ohe
#     bi_encoded = OneHotEncoder(use_cat_names = True).fit_transform(bi_female)
    
#     # recommender
#     # create sparse matrix
#     bi_sparse = sparse.csr_matrix(bi_encoded)

#     # cosine_similarity
#     similarities_bi = cosine_similarity(bi_sparse)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [123]:
cupid.head(1)

,age,status,sex,orientation,body_type,diet,drinks,drugs,location,offspring,pets,religion,smokes
0,22,single,m,straight,a little extra,strictly anything,socially,never,"south san francisco, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism and very serious about it,sometimes

In [125]:
straight_female.head(3)

,age,status,sex,orientation,body_type,diet,drinks,drugs,location,offspring,pets,religion,smokes
6,32,single,f,straight,fit,strictly anything,socially,never,"san francisco, california",doesn't have kids,likes dogs and likes cats,atheism,no
7,31,single,f,straight,average,mostly anything,socially,never,"san francisco, california","doesn't have kids, but wants them",likes dogs and likes cats,christianity,no
8,24,single,f,straight,rather not say,strictly anything,socially,never,"belvedere tiburon, california",doesn't have kids,likes dogs and likes cats,christianity but not too serious about it,when drinking

In [128]:
X = np.array([[22]])
y = straight_female[['age']]

In [131]:
n = cosine_similarity(X, y)

# get the person's input (X)
# ohe
# cosine_similarity(index, df_straight_females)
# sort

In [132]:
n.min()

1.0

In [144]:
type(X)

numpy.ndarray

In [177]:
test.append(pd.DataFrame(cupid.loc[6]).T)

,age,status,sex,orientation,body_type,diet,drinks,drugs,location,offspring,pets,religion,smokes
0,22,single,m,straight,a little extra,strictly anything,socially,never,"south san francisco, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism and very serious about it,sometimes
1,35,single,m,straight,average,mostly other,often,sometimes,"oakland, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism but not too serious about it,no
2,38,available,m,straight,thin,anything,socially,never,"san francisco, california",doesn't have kids,has cats,atheism,no
3,23,single,m,straight,thin,vegetarian,socially,never,"berkeley, california",doesn't want kids,likes cats,atheism,no
4,29,single,m,straight,athletic,anything,socially,never,"san francisco, california",doesn't have kids,likes dogs and likes cats,atheism,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6037,36,single,m,straight,athletic,anything,socially,never,"san francisco, california",doesn't have kids,dislikes dogs and dislikes cats,atheism,no
6058,29,single,m,straight,fit,anything,socially,never,"san francisco, california",doesn't have kids,dislikes dogs and dislikes cats,christianity,no
6078,37,single,m,straight,average,anything,socially,never,"oakland, california",doesn't have kids,has dogs,atheism,no
6083,27,single,m,straight,athletic,mostly anything,socially,never,"san francisco, california","doesn't have kids, but might want them",likes dogs and likes cats,catholicism and somewhat serious about it,no
6,32,single,f,straight,fit,strictly anything,socially,never,"san francisco, california",doesn't have kids,likes dogs and likes cats,atheism,no

In [3]:
# straight male

# straight = cupid[cupid['orientation'] == 'straight'].head(int(len(cupid[cupid['orientation'] == 'straight'])*0.5))
straight_male = cupid[(cupid['sex'] == 'm') & (cupid['orientation'] == 'straight')].head(3000)

# ohe
straight_male_encoded = OneHotEncoder(use_cat_names = True).fit_transform(straight_male)

# create sparse matrix
straight_male_sparse = sparse.csr_matrix(straight_male_encoded)

# cosine_similarity
similarities_straight_male = cosine_similarity(straight_male_sparse)

# ---------------
# straight female

# straight = cupid[cupid['orientation'] == 'straight'].head(int(len(cupid[cupid['orientation'] == 'straight'])*0.5))
straight_female = cupid[(cupid['sex'] == 'f') & (cupid['orientation'] == 'straight')].head(3000)

# ohe
straight_female_encoded = OneHotEncoder(use_cat_names = True).fit_transform(straight_female)

# create sparse matrix
straight_female_sparse = sparse.csr_matrix(straight_female_encoded)

# cosine_similarity
similarities_straight_female = cosine_similarity(straight_female_sparse)

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [4]:
# gay male
gay_male = cupid[(cupid['sex'] == 'm') & (cupid['orientation'] == 'gay')]

# ohe
gay_male_encoded = OneHotEncoder(use_cat_names = True).fit_transform(gay_male)

# create sparse matrix
gay_male_sparse = sparse.csr_matrix(gay_male_encoded)

# cosine_similarity
similarities_gay_male = cosine_similarity(gay_male_sparse)

# ---------------

# gay female
gay_female = cupid[(cupid['sex'] == 'f') & (cupid['orientation'] == 'gay')]

# ohe
gay_female_encoded = OneHotEncoder(use_cat_names = True).fit_transform(gay_female)

# create sparse matrix
gay_female_sparse = sparse.csr_matrix(gay_female_encoded)

# cosine_similarity
similarities_gay_female = cosine_similarity(gay_female_sparse)

# ---------------

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [5]:
# bi m/f
bi = cupid[cupid['orientation'] == 'bisexual']

# ohe
bi_encoded = OneHotEncoder(use_cat_names = True).fit_transform(bi)

# create sparse matrix
bi_sparse = sparse.csr_matrix(bi_encoded)

# cosine_similarity
similarities_bi = cosine_similarity(bi_sparse)

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

#### Putting together DataFrames of similarities

In [6]:
# checking gay male
gay_male_df = pd.DataFrame(similarities_gay_male, columns = gay_male_encoded.index, index = gay_male_encoded.index)
gay_male_df

,55,69,81,175,180,226,314,374,387,407,...,59734,59739,59754,59774,59812,59820,59834,59910,59930,59945
55,1.000000,0.994738,0.997079,0.997607,0.995313,0.995307,0.997611,0.994377,0.998195,0.996802,...,0.996961,0.997606,0.992351,0.996802,0.992288,0.992602,0.996165,0.993809,0.996864,0.996793
69,0.994738,1.000000,0.994483,0.994591,0.993556,0.991157,0.994564,0.992493,0.995348,0.992966,...,0.993888,0.995268,0.993923,0.994138,0.990327,0.990962,0.994687,0.992172,0.996073,0.995169
81,0.997079,0.994483,1.000000,0.996568,0.996010,0.993978,0.995855,0.995014,0.996561,0.996678,...,0.995888,0.997298,0.994249,0.995580,0.995841,0.992613,0.994887,0.995135,0.996519,0.997286
175,0.997607,0.994591,0.996568,1.000000,0.996099,0.996236,0.998558,0.995425,0.998224,0.996818,...,0.999079,0.997917,0.992705,0.997560,0.992893,0.992028,0.995054,0.993511,0.997324,0.997142
180,0.995313,0.993556,0.996010,0.996099,1.000000,0.992957,0.995389,0.995174,0.996144,0.994620,...,0.995458,0.995988,0.993276,0.996748,0.993400,0.989693,0.993775,0.993790,0.996703,0.995054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59820,0.992602,0.990962,0.992613,0.992028,0.989693,0.990726,0.991043,0.989693,0.990905,0.992571,...,0.990976,0.992246,0.989192,0.994180,0.986636,1.000000,0.990562,0.989802,0.991156,0.991197
59834,0.996165,0.994687,0.994887,0.995054,0.993775,0.992986,0.995074,0.992590,0.995758,0.994687,...,0.994222,0.996028,0.990497,0.994687,0.990923,0.990562,1.000000,0.994938,0.995134,0.995143
59910,0.993809,0.992172,0.995135,0.993511,0.993790,0.991863,0.993551,0.993790,0.993387,0.995116,...,0.992558,0.993662,0.990508,0.993644,0.991413,0.989802,0.994938,1.000000,0.992651,0.992656
59930,0.996864,0.996073,0.996519,0.997324,0.996703,0.993705,0.997280,0.995192,0.997927,0.995241,...,0.996848,0.997691,0.993217,0.996905,0.992797,0.991156,0.995134,0.992651,1.000000,0.997508
59945,0.996793,0.995169,0.997286,0.997142,0.995054,0.994548,0.997101,0.995054,0.997758,0.995169,...,0.996636,0.998162,0.993973,0.995169,0.993735,0.991197,0.995143,0.992656,0.997508,1.000000

In [7]:
# checking straight
straight_df = pd.DataFrame(similarities_straight, columns = straight_encoded.index, index = straight_encoded.index)
straight_df

NameError: name 'similarities_straight' is not defined

In [8]:
# checking straight male
straight_male_df = pd.DataFrame(similarities_straight_male, columns = straight_male_encoded.index, index = straight_male_encoded.index)
straight_male_df

,0,1,2,3,4,5,9,10,12,16,...,6017,6021,6022,6027,6034,6036,6037,6058,6078,6083
0,1.000000,0.989409,0.988457,0.986464,0.990081,0.990081,0.989569,0.988133,0.985104,0.991904,...,0.989952,0.989814,0.986721,0.991495,0.988312,0.991495,0.989495,0.988543,0.989569,0.991344
1,0.989409,1.000000,0.993264,0.988929,0.992981,0.993954,0.994630,0.992724,0.990794,0.993984,...,0.995724,0.994469,0.991639,0.992647,0.991639,0.993655,0.993707,0.992007,0.995395,0.993314
2,0.988457,0.993264,1.000000,0.992651,0.996917,0.995122,0.995061,0.996989,0.993222,0.995957,...,0.997218,0.997475,0.995767,0.994838,0.995767,0.994838,0.997814,0.996019,0.997176,0.993550
3,0.986464,0.988929,0.992651,1.000000,0.992172,0.993644,0.990326,0.990151,0.987570,0.991218,...,0.992381,0.991622,0.990508,0.988985,0.992032,0.990508,0.992622,0.990699,0.992640,0.990284
4,0.990081,0.992981,0.996917,0.992172,1.000000,0.995311,0.995989,0.994928,0.994053,0.996802,...,0.995966,0.996893,0.996350,0.996350,0.997564,0.996350,0.998790,0.996483,0.996910,0.996189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.991495,0.993655,0.994838,0.990508,0.996350,0.995137,0.993835,0.992647,0.992486,0.995556,...,0.995638,0.996645,0.993719,0.996231,0.993719,1.000000,0.995711,0.996350,0.994789,0.996084
6037,0.989495,0.993707,0.997814,0.992622,0.998790,0.995950,0.996276,0.996852,0.995455,0.996629,...,0.997959,0.998595,0.997671,0.995711,0.998651,0.995711,1.000000,0.997843,0.997765,0.995435
6058,0.988543,0.992007,0.996019,0.990699,0.996483,0.994138,0.994146,0.994928,0.995465,0.995770,...,0.996599,0.998518,0.996350,0.995137,0.996350,0.996350,0.997843,1.000000,0.995989,0.993673
6078,0.989569,0.995395,0.997176,0.992640,0.996910,0.995989,0.995655,0.996160,0.993202,0.997504,...,0.998079,0.997385,0.995743,0.995743,0.996696,0.994789,0.997765,0.995989,1.000000,0.993482
6083,0.991344,0.993314,0.993550,0.990284,0.996189,0.996189,0.995459,0.993314,0.990786,0.993092,...,0.993909,0.994615,0.992177,0.993479,0.993479,0.996084,0.995435,0.993673,0.993482,1.000000

In [9]:
# checking straight female
straight_female_df = pd.DataFrame(similarities_straight_female, columns = straight_female_encoded.index, index = straight_female_encoded.index)
straight_female_df

,6,7,8,13,14,15,17,20,21,30,...,9091,9092,9093,9094,9096,9100,9101,9104,9109,9120
6,1.000000,0.996010,0.994244,0.995859,0.993556,0.998228,0.996143,0.995239,0.993252,0.994098,...,0.996157,0.994630,0.995239,0.990462,0.996381,0.991118,0.995715,0.995348,0.995127,0.991118
7,0.996010,1.000000,0.991554,0.995747,0.995580,0.995649,0.994887,0.996334,0.993235,0.993978,...,0.994829,0.994571,0.993978,0.991795,0.993978,0.993757,0.994663,0.994380,0.995698,0.992379
8,0.994244,0.991554,1.000000,0.992769,0.989817,0.993235,0.990507,0.990786,0.988808,0.990786,...,0.991529,0.990180,0.990786,0.986956,0.990786,0.989343,0.990982,0.990428,0.991188,0.987570
13,0.995859,0.995747,0.992769,1.000000,0.994323,0.996269,0.994797,0.996271,0.991717,0.993838,...,0.995054,0.994494,0.993838,0.991717,0.993838,0.990862,0.994420,0.994086,0.993819,0.992286
14,0.993556,0.995580,0.989817,0.994323,1.000000,0.995169,0.992076,0.994931,0.990081,0.991157,...,0.994139,0.991684,0.992415,0.991618,0.991157,0.992172,0.995067,0.993757,0.994355,0.993644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9100,0.991118,0.993757,0.989343,0.990862,0.992172,0.990460,0.991659,0.991863,0.986464,0.990284,...,0.990065,0.989710,0.993443,0.990325,0.987125,1.000000,0.990326,0.990667,0.990514,0.988909
9101,0.995715,0.994663,0.990982,0.994420,0.995067,0.997240,0.993080,0.993482,0.990778,0.993482,...,0.996677,0.992620,0.994471,0.990778,0.993482,0.990326,1.000000,0.995623,0.995284,0.992640
9104,0.995348,0.994380,0.990428,0.994086,0.993757,0.995899,0.995093,0.992972,0.990886,0.993804,...,0.997897,0.993764,0.994636,0.990886,0.993804,0.990667,0.995623,1.000000,0.996584,0.990667
9109,0.995127,0.995698,0.991188,0.993819,0.994355,0.995545,0.992292,0.992746,0.993092,0.991831,...,0.997516,0.991777,0.992746,0.989737,0.993661,0.990514,0.995284,0.996584,1.000000,0.990514
9120,0.991118,0.992379,0.987570,0.992286,0.993644,0.992656,0.990020,0.991863,0.990325,0.988705,...,0.990780,0.989710,0.990284,0.990325,0.988705,0.988909,0.992640,0.990667,0.990514,1.000000

In [10]:
# checking bisexual
bi_df = pd.DataFrame(similarities_bi, columns = bi_encoded.index, index = bi_encoded.index)
bi_df

,37,44,48,68,75,124,132,153,200,230,...,59737,59771,59782,59848,59852,59857,59869,59901,59911,59937
37,1.000000,0.988970,0.990760,0.990760,0.991684,0.991216,0.992848,0.988546,0.991216,0.990923,...,0.989710,0.983812,0.990599,0.988305,0.992872,0.991216,0.992169,0.987376,0.987376,0.992169
44,0.988970,1.000000,0.995580,0.991190,0.992966,0.994931,0.996084,0.989817,0.993673,0.992076,...,0.993644,0.990182,0.995122,0.989900,0.995137,0.993673,0.994620,0.993155,0.991618,0.994620
48,0.990760,0.995580,1.000000,0.992806,0.994483,0.995156,0.996550,0.991554,0.993978,0.992443,...,0.992379,0.990290,0.994751,0.990445,0.993113,0.996334,0.994018,0.993235,0.991795,0.996010
68,0.990760,0.991190,0.992806,1.000000,0.991190,0.991623,0.994321,0.986265,0.991623,0.988776,...,0.989622,0.987131,0.993071,0.993978,0.993113,0.991623,0.993022,0.986037,0.987477,0.992026
75,0.991684,0.992966,0.994483,0.991190,1.000000,0.994931,0.996084,0.992641,0.993673,0.990770,...,0.989227,0.986808,0.993327,0.992415,0.992710,0.993673,0.992493,0.991618,0.993155,0.993556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59857,0.991216,0.993673,0.996334,0.991623,0.993673,0.997301,0.995479,0.987756,0.994602,0.991585,...,0.991863,0.986368,0.994513,0.990553,0.993479,1.000000,0.994098,0.989695,0.991344,0.996381
59869,0.992169,0.994620,0.994018,0.993022,0.992493,0.994098,0.996022,0.987838,0.995239,0.994959,...,0.991118,0.987259,0.996600,0.991815,0.995479,0.994098,1.000000,0.991857,0.991857,0.995174
59901,0.987376,0.993155,0.993235,0.986037,0.991618,0.989695,0.992966,0.990659,0.991344,0.989448,...,0.988395,0.988822,0.990810,0.988045,0.989904,0.989695,0.991857,1.000000,0.989919,0.990462
59911,0.987376,0.991618,0.991795,0.987477,0.993155,0.992994,0.995048,0.983252,0.989695,0.991159,...,0.988395,0.984398,0.991987,0.986396,0.991495,0.991344,0.991857,0.989919,1.000000,0.990462
59937,0.992169,0.994620,0.996010,0.992026,0.993556,0.995239,0.996022,0.991682,0.995239,0.994959,...,0.989782,0.987259,0.995786,0.990674,0.994378,0.996381,0.995174,0.990462,0.990462,1.000000

In [193]:
print(straight_male_encoded.shape)
print(straight_female_encoded.shape)

(3000, 188)
(3000, 182)

---

#### Creating recommender function

In [37]:
# recommender function for matching folks
# top 3 matches
def lover_recommender(index, df):
    lover_reco = df[index].sort_values(ascending = False).iloc[1:4]
    return lover_reco

In [88]:
# test
# maybe for 'bisexual', have the return randomly be 'm' or 'f'

# straight male and straight females separately

def lover_recommender_test(index, sex, df):
    """
    index (int): user_id we're looking to partner with matching orientation; None if df is 'straight'
    sex (str): m, f, None
    df (DataFrame): straight, gay_male, gay_female, bisexual
    """
    if str(df) == 'straight' and sex == 'f':
        index = df[df['sex'] == 'f'].sample().index
        lover_reco = df[df['sex'] == 'm'][index].sort_values(ascending = False).iloc[1:4]
        return lover_reco
    
    elif str(df) == 'straight' and sex == 'm':
        index = df[df['sex'] == 'm'].sample().index
        lover_reco = df[df['sex'] == 'f'][index].sort_values(ascending = False).iloc[1:4]
        return lover_reco

    else:
        lover_reco = df[index].sort_values(ascending = False).iloc[1:4]
        return lover_reco

In [ ]:
# # grabbing just orientation dataframes
# straight_male = cupid[(cupid['sex'] == 'm') & (cupid['orientation'] == 'straight')].head(int(len(cupid[(cupid['sex'] == 'm') & (cupid['orientation'] == 'straight')])*0.1))
# straight_female = cupid[(cupid['sex'] == 'f') & (cupid['orientation'] == 'straight')].head(int(len(cupid[(cupid['sex'] == 'f') & (cupid['orientation'] == 'straight')])*0.1))
# gay_male = cupid[(cupid['sex'] == 'm') & (cupid['orientation'] == 'gay')]
# gay_female = cupid[(cupid['sex'] == 'f') & (cupid['orientation'] == 'gay')]
# bi = cupid[cupid['orientation'] == 'bisexual']

In [198]:
cosine_similarity(pd.DataFrame(straight_female_encoded.loc[6]).T, straight_male_encoded)

ValueError: Incompatible dimension for X and Y matrices: X.shape[1] == 182 while Y.shape[1] == 188

In [153]:
# test 3
# cosine_similarity(index, df_straight_females)
# index = sex - male; orientation - straight -- therefore would look up a match within a straight female
# then sort + take top X

def lover_recommender_test3(sex, orientation, index):
    """
    index (int): user_id we're looking to partner with matching orientation
    sex (str): m, f
    orientation: straight, gay, bi/bisexual
    """
    
    # straight male looking for straight female
    if orientation == 'straight' and sex == 'm':
        # straight females
        # straight_female = cupid[(cupid['sex'] == 'f') & (cupid['orientation'] == 'straight')].head(int(len(cupid[(cupid['sex'] == 'f') & (cupid['orientation'] == 'straight')])*0.1))
        
        # ohe
        straight_female_encoded = OneHotEncoder(use_cat_names = True).fit_transform(straight_female)

        # create sparse matrix
        # straight_female_sparse = sparse.csr_matrix(straight_female_encoded)

        # cosine_similarity
        similarities_straight_male = cosine_similarity(np.array(straight_male.loc[index]).reshape(-1, 1), straight_female_encoded)
        
        return similarities_straight_male.sort_values(ascending = False).iloc[1:6]
            
    # straight female looking for straight male
    elif orientation == 'straight' and sex == 'f':
        # straight females
        # straight_male = cupid[(cupid['sex'] == 'm') & (cupid['orientation'] == 'straight')].head(int(len(cupid[(cupid['sex'] == 'm') & (cupid['orientation'] == 'straight')])*0.1))
        
        # ohe
        straight_male_encoded = OneHotEncoder(use_cat_names = True).fit_transform(straight_male)

        # create sparse matrix
        # straight_male_sparse = sparse.csr_matrix(straight_male_encoded)

        # cosine_similarity
        similarities_straight_female = cosine_similarity(np.array(straight_female.loc[index]).reshape(-1, 1), straight_male_encoded)
        
        return similarities_straight_female.sort_values(ascending = False).iloc[1:6]
    
    # gay male looking for gay male
    elif orientation == 'gay' and sex == 'm':    
        # gay male
        gay_male = cupid[(cupid['sex'] == 'm') & (cupid['orientation'] == 'gay')]

        # ohe
        gay_male_encoded = OneHotEncoder(use_cat_names = True).fit_transform(gay_male)

        # create sparse matrix
        #gay_male_sparse = sparse.csr_matrix(gay_male_encoded)

        # cosine_similarity
        similarities_gay_male = cosine_similarity(index, gay_male_encoded)
        
        return similarities_gay_male.sort_values(ascending = False).iloc[1:6]
    
    # gay female looking for gay female
    elif orientation == 'gay' and sex == 'f':    
        # gay female
        gay_female = cupid[(cupid['sex'] == 'f') & (cupid['orientation'] == 'gay')]

        # ohe
        gay_female_encoded = OneHotEncoder(use_cat_names = True).fit_transform(gay_female)

        # create sparse matrix
        #gay_female_sparse = sparse.csr_matrix(gay_female_encoded)

        # cosine_similarity
        similarities_gay_female = cosine_similarity(index, gay_female_encoded)
        
        return similarities_gay_female.sort_values(ascending = False).iloc[1:6]
    
    # bi male/female looking for bi male/female
    elif ('bi' in orientation and sex == 'f') or ('bi' in orientation and sex == 'm'):
        # bi m/f
        bi = cupid[cupid['orientation'] == 'bisexual']

        # ohe
        bi_encoded = OneHotEncoder(use_cat_names = True).fit_transform(bi)

        # create sparse matrix
        # bi_sparse = sparse.csr_matrix(bi_encoded)

        # cosine_similarity
        similarities_bi = cosine_similarity(bi_encoded)
        
        return similarities_bi.sort_values(ascending = False).iloc[1:6]

In [154]:
lover_recommender_test3('m', 'gay', 55)

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

ValueError: Expected 2D array, got scalar array instead:
array=55.0.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [178]:
# test 4

# maybe for 'bisexual', have the return randomly be 'm' or 'f'

def lover_recommender_test4(sex, orientation, index):
    """
    index (int): user_id we're looking to partner with matching orientation
    sex (str): m, f
    orientation: straight, gay, bi/bisexual
    """
   
    # straight male looking for straight female
    # straight_male_df.append(pd.DataFrame(straight_female_df.loc[index]).T)
    if orientation == 'straight' and sex == 'f':
        return straight_male_df.append(pd.DataFrame(straight_female_df.loc[index]).T)[index].sort_values(ascending = False).iloc[1:4]
    
    # straight female looking for straight male
    elif orientation == 'straight' and sex == 'm':
        return straight_female_df.append(pd.DataFrame(straight_male_df.loc[index]).T)[index].sort_values(ascending = False).iloc[1:4]
    
    # gay male looking for gay male
    elif orientation == 'gay' and sex == 'm':
        return gay_male_df[index].sort_values(ascending = False).iloc[1:4]
    
    # gay female looking for gay female
    elif orientation == 'gay' and sex == 'f':
        return gay_female_df[index].sort_values(ascending = False).iloc[1:4]
    
    # bisexual male/female looking for bisexual male/female
    elif ('bi' in orientation and sex == 'f') or ('bi' in orientation and sex == 'm'):
        return bi_df[index].sort_values(ascending = False).iloc[1:4]

In [187]:
pd.DataFrame(straight_female_df.loc[6]).T.shape

(1, 1979)

In [188]:
straight_male_df.shape

(3000, 3000)

In [184]:
straight_male_df.append(pd.DataFrame(straight_female_df.loc[6]).T)[6]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
6037    NaN
6058    NaN
6078    NaN
6083    NaN
6       1.0
Name: 6, Length: 3001, dtype: float64

In [181]:
lover_recommender_test4('f', 'straight', 6)

0   NaN
1   NaN
2   NaN
Name: 6, dtype: float64

In [112]:
# test2
# maybe for 'bisexual', have the return randomly be 'm' or 'f'

def lover_recommender_test2(sex, orientation, index):
    """
    index (int): user_id we're looking to partner with matching orientation
    sex (str): m, f
    orientation: straight, gay, bi/bisexual
    """
   
    # straight male looking for straight female
    if orientation == 'straight' and sex == 'f':
        return straight_male_df[index].sort_values(ascending = False).iloc[1:4]
    
    # straight female looking for straight male
    elif orientation == 'straight' and sex == 'm':
        return straight_female_df[index].sort_values(ascending = False).iloc[1:4]
    
    # gay male looking for gay male
    elif orientation == 'gay' and sex == 'm':
        return gay_male_df[index].sort_values(ascending = False).iloc[1:4]
    
    # gay female looking for gay female
    elif orientation == 'gay' and sex == 'f':
        return gay_female_df[index].sort_values(ascending = False).iloc[1:4]
    
    # bisexual male/female looking for bisexual male/female
    elif ('bi' in orientation and sex == 'f') or ('bi' in orientation and sex == 'm'):
        return bi_df[index].sort_values(ascending = False).iloc[1:4]

In [120]:
lover_recommender_test2('m', 'gay', 55)

31571    0.999452
4631     0.999129
7100     0.999129
Name: 55, dtype: float64

In [121]:
lover_recommender_test2('m', 'straight', 0)

KeyError: 0

In [41]:
print(gay_male_encoded.shape)
print(gay_male.shape)

(3815, 170)
(3815, 13)

In [38]:
# test for gay_male_df

lover_recommender(55, gay_male_df)

31571    0.999452
4631     0.999129
7100     0.999129
Name: 55, dtype: float64

In [43]:
# point of reference
gay_male.loc[55]

age                                   33
status                            single
sex                                    m
orientation                          gay
body_type                       athletic
diet                            anything
drinks                          socially
drugs                              never
location       san francisco, california
offspring              doesn't have kids
pets             likes dogs and has cats
religion                         atheism
smokes                                no
Name: 55, dtype: object

In [42]:
# 1
gay_male.loc[31571]

age                                   25
status                            single
sex                                    m
orientation                          gay
body_type                       athletic
diet                            anything
drinks                          socially
drugs                              never
location       san francisco, california
offspring              doesn't have kids
pets             likes dogs and has cats
religion                         atheism
smokes                                no
Name: 31571, dtype: object

In [44]:
# 2
gay_male.loc[4631]

age                                   36
status                            single
sex                                    m
orientation                          gay
body_type                       athletic
diet                            anything
drinks                          socially
drugs                              never
location       san francisco, california
offspring              doesn't have kids
pets                            has cats
religion                         atheism
smokes                                no
Name: 4631, dtype: object

In [45]:
# 3
gay_male.loc[7100]

age                                         36
status                                  single
sex                                          m
orientation                                gay
body_type                             athletic
diet                                  anything
drinks                                socially
drugs                                    never
location             san francisco, california
offspring                    doesn't have kids
pets           dislikes dogs and dislikes cats
religion                               atheism
smokes                                      no
Name: 7100, dtype: object

In [46]:
# 3
gay_male_encoded.loc[7100]

age                      36
status_single             1
status_available          0
sex_m                     1
orientation_gay           1
                         ..
smokes_no                 1
smokes_trying to quit     0
smokes_when drinking      0
smokes_yes                0
smokes_sometimes          0
Name: 7100, Length: 170, dtype: int64

In [56]:
print(straight_encoded.shape)
print(straight.shape)

(24903, 224)
(24903, 13)

In [85]:
# test for straight
# not specifying an index..

lover_recommender_test(None, 'f', straight_df)

KeyError: None

In [86]:
# test for straight

lover_recommender_test(6, 'f', straight_df)

12770    0.999554
2053     0.999071
29381    0.999071
Name: 6, dtype: float64

In [70]:
# point of reference
straight.loc[6]

age                                   32
status                            single
sex                                    f
orientation                     straight
body_type                            fit
diet                   strictly anything
drinks                          socially
drugs                              never
location       san francisco, california
offspring              doesn't have kids
pets           likes dogs and likes cats
religion                         atheism
smokes                                no
Name: 6, dtype: object

In [84]:
# 1
straight.loc[12770]

age                                   25
status                            single
sex                                    f
orientation                     straight
body_type                            fit
diet                   strictly anything
drinks                          socially
drugs                              never
location       san francisco, california
offspring              doesn't have kids
pets           likes dogs and likes cats
religion                         atheism
smokes                                no
Name: 12770, dtype: object

In [73]:
# 2
straight.loc[2053]

age                                   34
status                            single
sex                                    f
orientation                     straight
body_type                            fit
diet                            anything
drinks                          socially
drugs                              never
location       san francisco, california
offspring              doesn't have kids
pets           likes dogs and likes cats
religion                         atheism
smokes                                no
Name: 2053, dtype: object

In [74]:
# 3
straight.loc[29381]

age                                   34
status                            single
sex                                    f
orientation                     straight
body_type                            fit
diet                   mostly vegetarian
drinks                          socially
drugs                              never
location       san francisco, california
offspring              doesn't have kids
pets           likes dogs and likes cats
religion                         atheism
smokes                                no
Name: 29381, dtype: object