## Swipe Left (No) or Right (Yes)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics.pairwise import cosine_similarity
from category_encoders import OneHotEncoder

In [74]:
# read in full cupid data
cupid = pd.read_pickle('data/clean_cupid.pkl')
cupid.drop(columns = ['status', 'location'], inplace = True)

In [3]:
cupid.head(3)

,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
0,22,m,straight,a little extra,strictly anything,socially,never,"doesn't have kids, but might want them",likes dogs and likes cats,agnosticism and very serious about it,sometimes
1,35,m,straight,average,mostly other,often,sometimes,"doesn't have kids, but might want them",likes dogs and likes cats,agnosticism but not too serious about it,no
2,38,m,straight,thin,anything,socially,never,doesn't have kids,has cats,atheism,no

In [75]:
# read in grouped cupid data
cupid_df = pd.read_pickle('data/grouped_cupid.pkl')

In [5]:
cupid_df.head(3)

,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
0,22,m,straight,average,anything,sometimes,no,"doesn't have kid(s), but wants kid(s)",likes dogs and cats,agnosticism,sometimes
1,35,m,straight,average,other,yes,sometimes,"doesn't have kid(s), but wants kid(s)",likes dogs and cats,doesn't matter,no
2,38,m,straight,thin,anything,sometimes,no,doesn't have kids,likes cats,doesn't matter,no

In [73]:
# # name the index 'user_id'
# cupid_df.index.name = 'user_id'
# cupid_df.head(3)

---

In [157]:
orientation('gay/bi', 'm', religion9, lowest_age9, highest_age9)

# df_encoded = OneHotEncoder(use_cat_names = True).fit_transform(df)
    
# # make cosine_similarity input (input X)
# cosine_input = pd.DataFrame(df_encoded.iloc[-1]).T

# # drop last encoded row (input Y -- data for input X to reference)
# df_encoded.drop(df_encoded.tail(1).index, inplace = True)

# # cosine_similarity(X, y)
# similarity = cosine_similarity(cosine_input, df_encoded)

# # return top 5 matches
# top5 = pd.DataFrame(similarity.tolist()[0], columns = ['similarity'], index = df_encoded.index).sort_values(by = 'similarity', ascending = False).iloc[:5]

# # return top 5 matches in a df with cosine similarities
# results = pd.DataFrame(columns = cupid.columns)

Empty DataFrame
Columns: [age, sex, orientation, body_type, diet, drinks, drugs, offspring, pets, religion, smokes]
Index: []

In [176]:
invalue10 = ['30', 'f', 'gay', 'rather not say', 'vegetarian', 'yes', 'yes', "doesn't have kid(s), but wants kid(s)", 'dislikes dogs and cats', "christianity", 'yes']
highest_age10 = 45
lowest_age10 = 32
religion10 = "christianity"

In [285]:
invalue_df = pd.DataFrame(invalue10).T.rename(columns = {i:j for i,j in zip(np.arange(11), cupid_df.columns)})
invalue_df

,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
0,30,f,gay,rather not say,vegetarian,yes,yes,"doesn't have kid(s), but wants kid(s)",dislikes dogs and cats,christianity,yes

In [286]:
lover_recommender_test8(invalue10, religion10, lowest_age10, highest_age10)

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
25664,0.363636,35,f,bisexual,curvy,mostly anything,often,never,"has kids, and might want more",has dogs,christianity,yes
49211,0.363636,32,f,gay,average,anything,socially,never,has a kid,dislikes dogs and dislikes cats,christianity,no
24990,0.272727,32,f,bisexual,average,anything,rarely,never,has kids,dislikes dogs and dislikes cats,christianity and somewhat serious about it,sometimes
42459,0.181818,43,f,bisexual,athletic,mostly anything,socially,never,"has kids, but doesn't want more",likes dogs and has cats,christianity and somewhat serious about it,no

In [292]:
df_encoded.iloc[:, :20]

,age_44,age_32,age_35,age_41,age_33,age_43,age_34,age_42,age_30,sex_f,orientation_gay,orientation_bisexual,body_type_full figured,body_type_average,body_type_fit,body_type_rather not say,diet_other,diet_anything,diet_vegetarian,drinks_sometimes
6254,1,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,1,0,0,1
24990,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,1,0,1
25664,0,0,1,0,0,0,0,0,0,1,0,1,1,0,0,0,0,1,0,0
34449,0,0,0,1,0,0,0,0,0,1,0,1,1,0,0,0,0,1,0,1
42052,0,0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0,1,0,1
42459,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,1,0,1
47403,1,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,1,0,1
49211,0,1,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,1,0,1
51183,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,1
52501,0,0,0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0
58513,0,0,0,0,0,0,0,1,0,1,1,0,0,1,0,0,0,1,0,1
0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,1,0,0,1,0

In [180]:
orientation_df = orientation('gay/bi', 'f', religion10, lowest_age10, highest_age10)

In [187]:
similarity

array([[0.36363636, 0.27272727, 0.36363636, 0.18181818, 0.27272727,
        0.18181818, 0.27272727, 0.36363636, 0.27272727, 0.45454545,
        0.36363636]])

In [294]:
results

,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
52501,34,f,gay,average,anything,not at all,never,"doesn't have kids, but wants them",dislikes dogs and dislikes cats,christianity,no
58513,42,f,gay,a little extra,mostly anything,socially,never,doesn't have kids,dislikes dogs and dislikes cats,christianity,no
6254,44,f,gay,curvy,strictly other,socially,never,doesn't want kids,dislikes dogs and dislikes cats,christianity and very serious about it,no
25664,35,f,bisexual,curvy,mostly anything,often,never,"has kids, and might want more",has dogs,christianity,yes
49211,32,f,gay,average,anything,socially,never,has a kid,dislikes dogs and dislikes cats,christianity,no

In [308]:
# concat to encode in same fashion
df = pd.concat([orientation_df, invalue_df])

# ohe
df_encoded = OneHotEncoder(use_cat_names = True).fit_transform(df)

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [309]:
# concat to encode in same fashion
df = pd.concat([orientation_df, invalue_df])

# ohe
df_encoded = OneHotEncoder(use_cat_names = True).fit_transform(df)

# X
cosine_input = pd.DataFrame(df_encoded.iloc[-1]).T

# Y
df_encoded.drop(df_encoded.tail(1).index, inplace = True)

similarity = cosine_similarity(cosine_input, df_encoded)

top5 = pd.DataFrame(similarity.tolist()[0], columns = ['similarity'], index = df_encoded.index).sort_values(by = 'similarity', ascending = False).iloc[:5]

results = pd.DataFrame(columns = cupid.columns)
for i in top5.index:
    results = results.append(pd.DataFrame(cupid.loc[i]).T)
    
results

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
223,42,f,straight,athletic,anything,socially,never,has kids,has dogs and has cats,christianity and somewhat serious about it,no
245,45,f,straight,full figured,anything,rarely,never,has kids,likes dogs and dislikes cats,christianity and very serious about it,no
156,40,f,straight,full figured,anything,socially,never,has a kid,dislikes dogs and dislikes cats,christianity and very serious about it,no

In [151]:
cosine_input

NameError: name 'cosine_input' is not defined

In [297]:
invalue10

['30',
 'f',
 'gay',
 'rather not say',
 'vegetarian',
 'yes',
 'yes',
 "doesn't have kid(s), but wants kid(s)",
 'dislikes dogs and cats',
 'christianity',
 'yes']

In [296]:
more_matches2(invalue10, [25664, 49211], 'christianity', 32, 45)

Want to see more profiles? (yes/no) yes

Here are more profiles, based on the profile(s) of interest from earlier:

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
24990,0.454545,32,f,bisexual,average,anything,rarely,never,has kids,dislikes dogs and dislikes cats,christianity and somewhat serious about it,sometimes

---

In [120]:
invalue_df = pd.DataFrame(invalue5).T.rename(columns = {i:j for i,j in zip(np.arange(11), cupid_df.columns)})
invalue_df

,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
0,26,f,bisexual,full figured,anything,no,no,has kid(s) and wants more,likes dogs and cats,buddhism,yes

In [125]:
likes_df

,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
1234,31,m,straight,thin,anything,sometimes,no,"doesn't have kid(s), but wants kid(s)",likes dogs,agnosticism,no
4321,32,m,straight,fit,anything,sometimes,sometimes,doesn't have kids,likes dogs and cats,doesn't matter,no
654,30,f,straight,fit,anything,sometimes,no,"doesn't have kid(s), but wants kid(s)",likes dogs and cats,agnosticism,no

In [122]:
orientation = orientation('bisexual', 'f', religion5, lowest_age5, highest_age5)

# print("Here are more matches:")
# return offspring_subset(likes_df, orientation_df)

,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
312,25,m,straight,fit,anything,sometimes,no,doesn't have kids,likes cats,buddhism,no
486,25,m,straight,average,anything,sometimes,no,"doesn't have kid(s), but wants kid(s)",dislikes dogs and cats,buddhism,no
917,29,m,straight,rather not say,anything,sometimes,no,doesn't have kids,dislikes dogs and cats,buddhism,no
1036,29,m,straight,average,anything,sometimes,no,doesn't have kids,likes dogs and cats,buddhism,sometimes
1179,26,m,straight,fit,anything,sometimes,no,doesn't want kids,likes dogs,buddhism,no
...,...,...,...,...,...,...,...,...,...,...,...
58464,29,m,straight,fit,anything,sometimes,no,"doesn't have kid(s), but wants kid(s)",likes dogs,buddhism,no
59144,26,m,straight,fit,anything,sometimes,no,doesn't have kids,dislikes dogs and cats,buddhism,no
59168,30,f,gay,full figured,vegetarian,no,no,"doesn't have kid(s), but wants kid(s)",likes dogs and cats,buddhism,no
59215,26,m,bisexual,fit,other,no,sometimes,doesn't have kids,likes dogs and cats,buddhism,no
59855,25,m,straight,fit,anything,sometimes,no,doesn't have kids,likes dogs and cats,buddhism,no

In [303]:
orientation_df = cupid_df[(((cupid_df['sex'] == 'f') & (cupid_df['orientation'] == 'straight')) | ((cupid_df['sex'] == 'f') & (cupid_df['orientation'] == 'bisexual'))) \
                & (cupid_df['religion'] == religion13) & (cupid_df['age'] >= lowest_age13) & (cupid_df['age'] <= highest_age13)].head()

In [306]:
if "doesn't have kid(s), but wants kid(s)" in invalue_df['offspring'].unique():
    orientation_df = orientation_df[(orientation_df['offspring'] == "has kid(s)") | (orientation_df['offspring'] == "has kid(s) and wants more") | \
                                    (orientation_df['offspring'] == "has kid(s), but doesn't want more")]
elif "doesn't have kids, and doesn't want any" in invalue_df['offspring'].unique():
    orientation_df = orientation_df[(orientation_df['offspring'] == "doesn't have kids") | (orientation_df['offspring'] == "doesn't want kids") | \
                                    (orientation_df['offspring'] == "doesn't have kids, and doesn't want any")]
elif "has kid(s), but doesn't want more" in invalue_df['offspring'].unique():
    orientation_df = orientation_df[(orientation_df['offspring'] == "doesn't have kids") | (orientation_df['offspring'] == "doesn't have kid(s), but wants kid(s)") | \
                                    (orientation_df['offspring'] == "wants kid(s)")]
elif "has kid(s) and wants more" in invalue_df['offspring'].unique():
    orientation_df = orientation_df[(orientation_df['offspring'] == "has kid(s)") | (orientation_df['offspring'] == "has kid(s) and wants more") | \
                                        (orientation_df['offspring'] == "wants kid(s)")]

In [307]:
orientation_df

,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
156,40,f,straight,full figured,anything,sometimes,no,has kid(s),dislikes dogs and cats,christianity,no
223,42,f,straight,fit,anything,sometimes,no,has kid(s),likes dogs and cats,christianity,no
245,45,f,straight,full figured,anything,sometimes,no,has kid(s),likes dogs,christianity,no

In [66]:
# separates data by orientation

def orientation(orientation, sex, religion, lowest_age, highest_age):
    """
    invalue (list): survey/streamlit app responses
    religion: religion of user
    lowest_age / highest_age: age range preference of partner recommendation
    """
    
    # straight female looking for straight/bi male
    if orientation == 'straight/bi' and sex == 'm':
        return cupid_df[(((cupid_df['sex'] == 'm') & (cupid_df['orientation'] == 'straight')) | ((cupid_df['sex'] == 'm') & (cupid_df['orientation'] == 'bisexual'))) \
                    & (cupid_df['religion'] == religion) & (cupid_df['age'] >= lowest_age) & (cupid_df['age'] <= highest_age)]
    
    # straight male looking for straight/bi female
    elif orientation == 'straight/bi' and sex == 'f':
        return cupid_df[(((cupid_df['sex'] == 'f') & (cupid_df['orientation'] == 'straight')) | ((cupid_df['sex'] == 'f') & (cupid_df['orientation'] == 'bisexual'))) \
                & (cupid_df['religion'] == religion) & (cupid_df['age'] >= lowest_age) & (cupid_df['age'] <= highest_age)]
    
    # gay male looking for gay/bi male
    elif orientation == 'gay/bi' and sex == 'm':
        return cupid_df[(cupid_df['sex'] == 'm') & ((cupid_df['orientation'] == 'gay') | (cupid_df['orientation'] == 'bisexual')) & \
             (cupid_df['religion'] == religion) & (cupid_df['age'] >= lowest_age) & (cupid_df['age'] <= highest_age)]
    
    # gay female looking for gay/bi female
    elif orientation == 'gay/bi' and sex == 'f':
        return cupid_df[(cupid_df['sex'] == 'f') & ((cupid_df['orientation'] == 'gay') | (cupid_df['orientation'] == 'bisexual')) & \
             (cupid_df['religion'] == religion) & (cupid_df['age'] >= lowest_age) & (cupid_df['age'] <= highest_age)]
    
    # bi female looking for bi individual or straight male or gay female
    elif orientation == 'bisexual' and sex == 'f':
        return cupid_df[((cupid_df['sex'] == 'f') & (cupid_df['orientation'] == 'gay') & (cupid_df['religion'] == religion) & \
                         (cupid_df['age'] >= lowest_age) & (cupid_df['age'] <= highest_age)) | ((cupid_df['sex'] == 'm') & (cupid_df['orientation'] == 'straight') & \
                        (cupid_df['religion'] == religion) & (cupid_df['age'] >= lowest_age) & (cupid_df['age'] <= highest_age)) | \
                     (cupid_df['orientation'] == 'bisexual')  & (cupid_df['religion'] == religion) & (cupid_df['age'] >= lowest_age) & (cupid_df['age'] <= highest_age)]
    
    # bi male looking for bi individual or straight female or gay male
    elif orientation == 'bisexual' and sex == 'm':
        return cupid_df[((cupid_df['sex'] == 'm') & (cupid_df['orientation'] == 'gay') & (cupid_df['religion'] == religion) & \
                         (cupid_df['age'] >= lowest_age) & (cupid_df['age'] <= highest_age)) | ((cupid_df['sex'] == 'f') & (cupid_df['orientation'] == 'straight') & \
                        (cupid_df['religion'] == religion) & (cupid_df['age'] >= lowest_age) & (cupid_df['age'] <= highest_age)) | \
                     (cupid_df['orientation'] == 'bisexual')  & (cupid_df['religion'] == religion) & (cupid_df['age'] >= lowest_age) & (cupid_df['age'] <= highest_age)]

In [68]:
# performs recommendation

def lover_recommender_test8(invalue, religion, lowest_age, highest_age):
    """
    invalue (list): survey/streamlit app responses
    religion: religion of user
    lowest_age / highest_age: age range preference of partner recommendation
    """
   
    # convert input from array to DataFrame
    invalue_df = pd.DataFrame(invalue).T.rename(columns = {i:j for i,j in zip(np.arange(11), cupid_df.columns)})

    # ----------------
    
    # straight female looking for straight/bi male
    if invalue_df['orientation'].unique()[0] == 'straight' and invalue_df['sex'].unique()[0] == 'f':
        
        # split data by orientation
        orientation_df = orientation('straight/bi', 'm', religion, lowest_age, highest_age)
        
        # call 'invalue_to_similarity' function to return top 5 similarities
        try: 
            return offspring_subset(invalue_df, orientation_df)
        except ValueError:
            return "Apologies, we don't have any profiles in the database that relate to your age range, orientation, and religious inputs at the moment."
        
        # return top 5 matches + option to see additional matches
        # return more_matches(matches, religion, lowest_age, highest_age)
    
    # straight male looking for straight/bi female
    elif invalue_df['orientation'].unique()[0] == 'straight' and invalue_df['sex'].unique()[0] == 'm':
        
        # split data by orientation
        orientation_df = orientation('straight/bi', 'f', religion, lowest_age, highest_age)

        # call 'invalue_to_similarity' function to return similarities
        try: 
            return offspring_subset(invalue_df, orientation_df)
        except ValueError:
            return "Apologies, we don't have any profiles in the database that relate to your age range, orientation, and religious inputs at the moment."
        
        # see matches + option to see additional matches
        # return more_matches(matches, religion, lowest_age, highest_age)
    
    # gay male looking for gay/bi male
    elif invalue_df['orientation'].unique()[0] == 'gay' and invalue_df['sex'].unique()[0] == 'm':
        
        # split data by orientation
        orientation_df = orientation('gay/bi', 'm', religion, lowest_age, highest_age)
        
        # call 'invalue_to_similarity' function to return similarities
        try: 
            return offspring_subset(invalue_df, orientation_df)
        except ValueError:
            return "Apologies, we don't have any profiles in the database that relate to your age range, orientation, and religious inputs at the moment."
        
        # return top 5 matches + option to see additional matches
        # return more_matches(matches, religion, lowest_age, highest_age)
    
    # gay female looking for gay/bi female
    elif invalue_df['orientation'].unique()[0] == 'gay' and invalue_df['sex'].unique()[0] == 'f':
        
        # split data by orientation
        orientation_df = orientation('gay/bi', 'f', religion, lowest_age, highest_age)
        
        # call 'invalue_to_similarity' function to return similarities
        try: 
            return offspring_subset(invalue_df, orientation_df)
        except ValueError:
            return "Apologies, we don't have any profiles in the database that relate to your age range, orientation, and religious inputs at the moment."
        
        #  return top 5 matches + option to see additional matches
        # return more_matches(matches, religion, lowest_age, highest_age)
    
    # bi female looking for bi individual or gay female or straight male
    elif (invalue_df['orientation'].unique()[0] == 'bisexual' and invalue_df['sex'].unique()[0] == 'f'):
        
        # split data by orientation
        orientation_df = orientation('bisexual', 'f', religion, lowest_age, highest_age)
        
        # call 'invalue_to_similarity' function to return similarities
        try: 
            return offspring_subset(invalue_df, orientation_df)
        except ValueError:
            return "Apologies, we don't have any profiles in the database that relate to your age range, orientation, and religious inputs at the moment."
        
        #  return top 5 matches + option to see additional matches
        # return more_matches(matches, religion, lowest_age, highest_age)    
    
    # bi male looking for bi individual or gay male or straight female
    elif (invalue_df['orientation'].unique()[0] == 'bisexual' and invalue_df['sex'].unique()[0] == 'm'):
        
    # split data by orientation
        orientation_df = orientation('bisexual', 'm', religion, lowest_age, highest_age)

        # call 'invalue_to_similarity' function to return similarities
        try: 
            return offspring_subset(invalue_df, orientation_df)
        except ValueError:
            return "Apologies, we don't have any profiles in the database that relate to your age range, orientation, and religious inputs at the moment."
        
        #  return top 5 matches + option to see additional matches
        # return more_matches(matches, religion, lowest_age, highest_age)

In [69]:
# function to ohe, create sparse matrices, and return the cosine similarity based on orientation

def offspring_subset(invalue_df, orientation_df):
    """
    invalue_df: converted DataFrame of user inputs
    orientation_df: DataFrame of all people of that orientation
    """
    
    # split by offspring preference
    if "doesn't have kid(s), but wants kid(s)" in invalue_df['offspring'].unique():
        orientation_df = orientation_df[(orientation_df['offspring'] == "has kid(s)") | (orientation_df['offspring'] == "has kid(s) and wants more") | \
                                        (orientation_df['offspring'] == "has kid(s), but doesn't want more")]
    elif "doesn't have kids, and doesn't want any" in invalue_df['offspring'].unique():
        orientation_df = orientation_df[(orientation_df['offspring'] == "doesn't have kids") | (orientation_df['offspring'] == "doesn't want kids") | \
                                        (orientation_df['offspring'] == "doesn't have kids, and doesn't want any")]
    elif "has kid(s), but doesn't want more" in invalue_df['offspring'].unique():
        orientation_df = orientation_df[(orientation_df['offspring'] == "doesn't have kids") | (orientation_df['offspring'] == "doesn't have kid(s), but wants kid(s)") | \
                                        (orientation_df['offspring'] == "wants kid(s)")]
    elif "has kid(s) and wants more" in invalue_df['offspring'].unique():
        orientation_df = orientation_df[(orientation_df['offspring'] == "has kid(s)") | (orientation_df['offspring'] == "has kid(s) and wants more") | \
                                        (orientation_df['offspring'] == "wants kid(s)")]
    
    # cosine similarities
    return invalue_to_similarity(invalue_df, orientation_df)

In [113]:
# function to ohe, create sparse matrices, and return the cosine similarity based on orientation

def invalue_to_similarity(invalue_df, orientation_df):
    """
    invalue_df: converted DataFrame of user inputs
    orientation_df: DataFrame of all people of that orientation
    """
    
    # concat input values to orientation df to prep for cosine similarity
    df = pd.concat([orientation_df, invalue_df])

    # ohe
    df_encoded = OneHotEncoder(use_cat_names = True).fit_transform(df)
    
    # make cosine_similarity input (input X)
    cosine_input = pd.DataFrame(df_encoded.iloc[-(len(invalue_df))]).T
    
    # drop last encoded row (input Y -- data for input X to reference)
    df_encoded.drop(df_encoded.tail(len(invalue_df)).index, inplace = True)
    
    # cosine_similarity(X, y)
    similarity = cosine_similarity(cosine_input, df_encoded)
    
    # return top 5 matches
    top5 = pd.DataFrame(similarity.tolist()[0], columns = ['similarity'], index = df_encoded.index).sort_values(by = 'similarity', ascending = False).iloc[:5]
    
    # return top 5 matches in a df with cosine similarities
    results = pd.DataFrame(columns = cupid.columns)

    for i in top5.index:
        results = results.append(pd.DataFrame(cupid.loc[i]).T)

    matches = pd.merge(top5, results, on = top5.index)
    matches.rename(columns = {'key_0' : 'user_id'}, inplace = True)
    matches.set_index('user_id', drop = True, inplace = True)
    
    return matches

In [10]:
# function for the user to tell which matches they like and to return additional matches, if the user chooses

def more_matches(matches, religion, lowest_age, highest_age):
    invalue_df = pd.DataFrame(columns = cupid.columns)
    
    Flag = 'yes'
    while Flag == 'yes':
        for i in range(len(matches)):
            person = matches.iloc[i]
            if pd.DataFrame(person).T.index[0] not in invalue_df.index:
                print(person)
                answer = str(input('Do you like them? (yes/no)')).lower()
                if answer == 'yes':
                    invalue_df = invalue_df.append(person)
                else:
                    continue
        
        # straight female
        if invalue_df['sex'].unique()[0] == 'f' and invalue_df['orientation'].unique()[0] == 'straight':
            
            # split data by orientation
            orientation_df = orientation('straight/bi', 'f', religion, lowest_age, highest_age)

            matches = invalue_to_similarity(invalue_df, orientation_df)

        # straight male
        elif invalue_df['sex'].unique()[0] == 'm' and invalue_df['orientation'].unique()[0] == 'straight':
            
            # split data by orientation
            orientation_df = orientation('straight/bi', 'm', religion, lowest_age, highest_age)

            matches = invalue_to_similarity(invalue_df, orientation_df)

        # gay female
        elif invalue_df['sex'].unique()[0] == 'f' and invalue_df['orientation'].unique()[0] == 'gay':
            
            # split data by orientation
            orientation_df = orientation('gay', 'f', religion, lowest_age, highest_age)

            matches = invalue_to_similarity(invalue_df, orientation_df)

        # gay male
        elif invalue_df['sex'].unique()[0] == 'm' and invalue_df['orientation'].unique()[0] == 'gay':
            
            # split data by orientation
            orientation_df = orientation('gay', 'm', religion, lowest_age, highest_age)

            matches = invalue_to_similarity(invalue_df, orientation_df)

        # bi female looking for bi individual or gay female or straight male
        elif (invalue_df['orientation'].unique()[0] == 'bisexual' and invalue_df['sex'].unique()[0] == 'f'):

            # split data by orientation
            orientation_df = orientation('bisexual', 'f', religion, lowest_age, highest_age)

            matches = invalue_to_similarity(invalue_df, orientation_df)
            
        # bi male looking for bi individual or gay male or straight female
        elif (invalue_df['orientation'].unique()[0] == 'bisexual' and invalue_df['sex'].unique()[0] == 'f'):

            # split data by orientation
            orientation_df = orientation('bisexual', 'm', religion, lowest_age, highest_age)

            matches = invalue_to_similarity(invalue_df, orientation_df)

        Flag = str(input('Do you want to see more matches? (yes/no)')).lower()
    
    print("Here's everyone you matched with:")
    return (invalue_df)

In [282]:
# function for the user to tell which matches they like and to return additional matches, if the user chooses

def more_matches2(invalue, profile_lis, religion, lowest_age, highest_age):
    invalue_df = pd.DataFrame(invalue).T.rename(columns = {i:j for i,j in zip(np.arange(11), cupid_df.columns)})
    likes_df = pd.DataFrame(columns = cupid_df.columns)
        
    # collect liked profiles
    for person in profile_lis:
        likes_df = likes_df.append(cupid_df.loc[person])
        
    answer = str(input('Want to see more profiles? (yes/no)'))
    
    if answer == 'yes':

        # straight female
        if invalue_df['sex'].unique()[0] == 'f' and invalue_df['orientation'].unique()[0] == 'straight':

            # split data by orientation
            orientation_df = orientation('straight/bi', 'm', religion, lowest_age, highest_age)

            print("Here are more profiles, based on the profile(s) of interest from earlier:")
            return offspring_subset(likes_df, orientation_df)

        # straight male
        elif invalue_df['sex'].unique()[0] == 'm' and invalue_df['orientation'].unique()[0] == 'straight':

            # split data by orientation
            orientation_df = orientation('straight/bi', 'f', religion, lowest_age, highest_age)

            print("Here are more profiles, based on the profile(s) of interest from earlier:")
            return offspring_subset(likes_df, orientation_df)

        # gay female
        elif invalue_df['sex'].unique()[0] == 'f' and invalue_df['orientation'].unique()[0] == 'gay':

            # split data by orientation
            orientation_df = orientation('gay/bi', 'f', religion, lowest_age, highest_age)

            print("Here are more profiles, based on the profile(s) of interest from earlier:")
            return offspring_subset(likes_df, orientation_df)

        # gay male
        elif invalue_df['sex'].unique()[0] == 'm' and invalue_df['orientation'].unique()[0] == 'gay':

            # split data by orientation
            orientation_df = orientation('gay/bi', 'm', religion, lowest_age, highest_age)

            print("Here are more profiles, based on the profile(s) of interest from earlier:")
            return offspring_subset(likes_df, orientation_df)

        # bi female looking for bi individual or gay female or straight male
        elif (invalue_df['orientation'].unique()[0] == 'bisexual' and invalue_df['sex'].unique()[0] == 'f'):

            # split data by orientation
            orientation_df = orientation('bisexual', 'f', religion, lowest_age, highest_age)

            print("Here are more profiles, based on the profile(s) of interest from earlier:")
            return offspring_subset(likes_df, orientation_df)

        # bi male looking for bi individual or gay male or straight female
        elif (invalue_df['orientation'].unique()[0] == 'bisexual' and invalue_df['sex'].unique()[0] == 'm'):

            # split data by orientation
            orientation_df = orientation('bisexual', 'm', religion, lowest_age, highest_age)

            print("Here are more profiles, based on the profile(s) of interest from earlier:")
            return offspring_subset(likes_df, orientation_df)
            
    else:
        print('Here are the profiles you liked:')
        return(likes_df)

In [244]:
# input / up + down arrow

# age + age range
age = int(input('How old are you?'))
print("What's your age range?")
lowest_age = int(input('Lowest age?'))
highest_age = int(input('Highest age?'))

# dropdowns
sex = str(input('What gender do you identify as?'))
orientation = str(input('What sexual orientation do you identify with?'))
body_type = str(input("What's your body type?"))
diet = str(input('What does your diet consist of?'))
drinks = str(input('Do you consume alcoholic beverages?'))
drugs = str(input('Do you use drugs?'))

# offspring
# do you have any children? yes/no
any_children = str(input('Do you have any children?'))

# do you want any [more] children? yes/no
more_children = str(input('Do you want any [more] children?'))

if any_children == 'no' and more_children == 'yes':
    offspring = "doesn't have kid(s), but wants kid(s)"
elif any_children == 'no' and more_children == 'no':
    offspring = "doesn't have kids, and doesn't want any"
elif any_children == 'yes' and more_children == 'no':
    offspring = "has kid(s), but doesn't want more"
elif any_children == 'yes' and more_children == 'yes':
    offspring = "has kid(s) and wants more"

pets = str(input("What's your sentiment on dogs and/or cats"))
smokes = str(input("Do you smoke?"))

# religion
religion_matter = str(input('Does religion matter?'))
if religion_matter == 'yes':
    religion = str(input("What's your religion?"))
else:
    religion = "doesn't matter"

invalue = np.array([age, sex, orientation, body_type, diet, drinks, drugs, offspring, pets, religion, smokes])

How old are you? 28

What's your age range?

Lowest age? 24
Highest age? 43
What gender do you identify as? m
What sexual orientation do you identify with? straight
What's your body type? fit
What does your diet consist of? anything
Do you consume alcoholic beverages? yes
Do you use drugs? no
Do you have any children? no
Do you want any [more] children? no
What's your sentiment on dogs and/or cats likes cats
Do you smoke? no
Does religion matter? yes
What's your religion? christianity

In [250]:
invalue_df = pd.DataFrame(invalue).T.rename(columns = {i:j for i,j in zip(np.arange(11), cupid_df.columns)})
invalue_df

,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
0,45,m,straight,fit,anything,yes,no,"doesn't have kids, and doesn't want any",likes dogs,christianity,no

In [252]:
orientation('straight/bi', 'f', religion, lowest_age, highest_age)

,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
32,38,f,straight,average,anything,sometimes,no,doesn't have kids,dislikes dogs and cats,christianity,no
156,40,f,straight,full figured,anything,sometimes,no,has kid(s),dislikes dogs and cats,christianity,no
223,42,f,straight,fit,anything,sometimes,no,has kid(s),likes dogs and cats,christianity,no
245,45,f,straight,full figured,anything,sometimes,no,has kid(s),likes dogs,christianity,no
434,44,f,straight,average,anything,sometimes,no,doesn't have kids,dislikes dogs and cats,christianity,no
...,...,...,...,...,...,...,...,...,...,...,...
58437,40,f,straight,rather not say,anything,sometimes,no,doesn't have kids,dislikes dogs and cats,christianity,no
58692,47,f,straight,average,vegetarian,no,no,doesn't want kids,likes dogs,christianity,no
59407,36,f,straight,full figured,anything,sometimes,no,doesn't have kids,likes dogs and cats,christianity,no
59520,40,f,straight,average,anything,sometimes,no,doesn't have kids,dislikes dogs and cats,christianity,no
59826,36,f,straight,average,anything,no,no,doesn't have kids,likes dogs and cats,christianity,no

---

In [298]:
invalue_df = pd.DataFrame(invalue13).T.rename(columns = {i:j for i,j in zip(np.arange(11), cupid_df.columns)})
invalue_df

,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
0,45,m,straight,fit,anything,yes,no,has kid(s) and wants more,likes dogs,christianity,no

In [273]:
# straight male

invalue13 = ['45', 'm', 'straight', 'fit', 'anything', 'yes', 'no', "has kid(s) and wants more", 'likes dogs', 'christianity', 'no']
highest_age13 = 48
lowest_age13 = 35
religion13 = 'christianity'

lover_recommender_test8(invalue13, religion13, lowest_age13, highest_age13)

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
12980,0.636364,45,f,straight,fit,anything,socially,never,"has a kid, and might want more",dislikes dogs and dislikes cats,christianity,no
54734,0.636364,41,f,straight,fit,anything,socially,never,"has a kid, and might want more",likes dogs and has cats,christianity,no
29976,0.636364,42,f,straight,thin,anything,often,never,has a kid,has dogs,christianity,no
50152,0.636364,37,f,straight,curvy,anything,often,never,has kids,likes dogs,christianity,no
23127,0.636364,37,f,straight,rather not say,anything,not at all,never,"has a kid, and might want more",likes dogs,christianity and somewhat serious about it,no

In [274]:
# returning additional profiles based on any of the ones the user liked

answer = str(input('Any profile(s) catch your eye? (yes/no)'))

profile_lis = []
while answer == 'yes':
    profile = int(input('Name one profile (user_id) of interest: '))
    profile_lis.append(profile)
    answer = str(input('Any other profile(s) caught your eye? (yes/no)'))
    
more_matches2(invalue13, profile_lis, religion13, lowest_age13, highest_age13)

Any profile(s) catch your eye? (yes/no) yes
Name one profile (user_id) of interest:  54734
Any other profile(s) caught your eye? (yes/no) yes
Name one profile (user_id) of interest:  50152
Any other profile(s) caught your eye? (yes/no) no
Want to see more profiles? (yes/no) yes

Here are more profiles, based on the profile(s) of interest from earlier:

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
30913,0.909091,41,f,straight,average,mostly anything,socially,never,"has kids, and might want more",likes dogs and likes cats,christianity and very serious about it,no
223,0.818182,42,f,straight,athletic,anything,socially,never,has kids,has dogs and has cats,christianity and somewhat serious about it,no
12980,0.818182,45,f,straight,fit,anything,socially,never,"has a kid, and might want more",dislikes dogs and dislikes cats,christianity,no
55432,0.818182,35,f,straight,athletic,mostly anything,socially,never,has a kid,likes dogs and likes cats,christianity and somewhat serious about it,no
4713,0.818182,41,f,straight,a little extra,mostly anything,socially,never,"has kids, and might want more",likes dogs,christianity and very serious about it,no

**Analysis**

In [262]:
# straight female

invalue3 = ['37', 'f', 'straight', 'full figured', 'anything', 'yes', 'no', "doesn't have kid(s), but wants kid(s)", 'likes dogs and cats', "doesn't matter", 'no']
highest_age3 = 40
lowest_age3 = 32
religion3 = "doesn't matter"

lover_recommender_test8(invalue3, religion3, lowest_age3, highest_age3)

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
7206,0.636364,34,m,straight,fit,strictly anything,often,never,has a kid,likes dogs and likes cats,catholicism and laughing about it,no
3497,0.636364,35,m,straight,curvy,mostly anything,not at all,never,"has a kid, and might want more",likes dogs and likes cats,atheism,no
15047,0.636364,39,m,straight,fit,mostly anything,often,never,"has a kid, and wants more",likes dogs and likes cats,atheism and somewhat serious about it,no
54828,0.636364,39,m,straight,average,anything,very often,never,"has kids, but doesn't want more",likes dogs and likes cats,atheism,no
56272,0.636364,38,m,straight,fit,mostly anything,often,never,has kids,likes dogs and has cats,atheism,no

In [312]:
# returning additional profiles based on any of the ones the user liked

answer = str(input('Any profile(s) catch your eye? (yes/no)'))

profile_lis = []
while answer == 'yes':
    profile = int(input('Name one profile (user_id) of interest: '))
    profile_lis.append(profile)
    answer = str(input('Any other profile(s) caught your eye? (yes/no)'))
    
more_matches2(invalue3, profile_lis, religion3, lowest_age3, highest_age3)

Any profile(s) catch your eye? (yes/no) yes
Name one profile (user_id) of interest:  7206
Any other profile(s) caught your eye? (yes/no) yes
Name one profile (user_id) of interest:  15047
Any other profile(s) caught your eye? (yes/no) no
Want to see more profiles? (yes/no) yes

Here are more profiles, based on the profile(s) of interest from earlier:

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
42530,0.909091,34,m,straight,athletic,strictly anything,socially,never,has a kid,likes dogs and likes cats,judaism and laughing about it,no
4532,0.909091,34,m,straight,fit,anything,socially,never,has a kid,likes dogs and likes cats,agnosticism and laughing about it,no
43965,0.909091,34,m,straight,athletic,mostly anything,rarely,never,has a kid,has dogs and has cats,catholicism but not too serious about it,no
41942,0.909091,34,m,straight,fit,anything,not at all,never,has a kid,likes dogs and likes cats,catholicism but not too serious about it,no
56272,0.909091,38,m,straight,fit,mostly anything,often,never,has kids,likes dogs and has cats,atheism,no

**Analysis**

In [266]:
# bisexual male

invalue12 = ['43', 'm', 'bisexual', 'thin', 'anything', 'yes', 'no', "doesn't have kid(s), but wants kid(s)", 'dislikes dogs and cats', "doesn't matter", 'yes']
highest_age12 = 45
lowest_age12 = 38
religion12 = "doesn't matter"

lover_recommender_test8(invalue12, religion12, lowest_age12, highest_age12)

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
21136,0.545455,44,m,bisexual,athletic,mostly anything,often,sometimes,"has kids, but doesn't want more",dislikes dogs and dislikes cats,atheism but not too serious about it,no
48663,0.545455,45,m,bisexual,fit,mostly anything,socially,never,"has a kid, and might want more",dislikes dogs and dislikes cats,agnosticism but not too serious about it,when drinking
13793,0.545455,45,m,bisexual,jacked,mostly anything,not at all,never,has kids,dislikes dogs and dislikes cats,other and laughing about it,no
15838,0.545455,42,m,bisexual,average,anything,socially,never,has a kid,dislikes dogs and dislikes cats,atheism,no
43765,0.545455,38,m,bisexual,a little extra,anything,socially,never,has kids,dislikes dogs and dislikes cats,agnosticism and laughing about it,no

In [267]:
# returning additional profiles based on any of the ones the user liked

answer = str(input('Any profile(s) catch your eye? (yes/no)'))

profile_lis = []
while answer == 'yes':
    profile = int(input('Name one profile (user_id) of interest: '))
    profile_lis.append(profile)
    answer = str(input('Any other profile(s) caught your eye? (yes/no)'))
    
more_matches2(invalue12, profile_lis, religion12, lowest_age12, highest_age12)

Any profile(s) catch your eye? (yes/no) yes
Name one profile (user_id) of interest:  15838
Any other profile(s) caught your eye? (yes/no) yes
Name one profile (user_id) of interest:  43765
Any other profile(s) caught your eye? (yes/no) no
Want to see more profiles? (yes/no) yes

Here are more profiles, based on the profile(s) of interest from earlier:

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
14924,0.818182,42,m,bisexual,average,mostly anything,socially,never,doesn't have kids,likes dogs and has cats,other but not too serious about it,no
1025,0.818182,42,m,bisexual,average,anything,socially,never,doesn't want kids,likes dogs and likes cats,agnosticism and laughing about it,no
41153,0.818182,42,m,bisexual,average,anything,not at all,never,doesn't have kids,dislikes dogs and dislikes cats,atheism,no
46640,0.818182,42,f,bisexual,athletic,anything,socially,never,has kids,dislikes dogs and dislikes cats,atheism,no
35527,0.818182,42,f,straight,a little extra,mostly anything,socially,never,has kids,dislikes dogs and dislikes cats,atheism,no

**Analysis**

In [264]:
# bisexual female

invalue5 = ['26', 'f', 'bisexual', 'average', 'vegan', 'no', 'no', "doesn't have kids, and doesn't want any", 'likes cats', "buddhism", 'yes']
highest_age5 = 30
lowest_age5 = 22
religion5 = "buddhism"

lover_recommender_test8(invalue5, religion5, lowest_age5, highest_age5)

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
47399,0.454545,27,m,straight,average,strictly anything,not at all,never,doesn't have kids,likes dogs,buddhism,yes
48349,0.454545,30,m,straight,fit,vegan,not at all,never,"doesn't have kids, and doesn't want any",likes dogs and has cats,buddhism,no
26260,0.454545,22,f,bisexual,skinny,strictly vegan,socially,never,doesn't have kids,likes dogs and has cats,buddhism,trying to quit
24689,0.454545,29,m,straight,average,other,not at all,never,doesn't have kids,has cats,buddhism,no
31845,0.454545,27,f,bisexual,curvy,mostly vegetarian,not at all,never,doesn't want kids,likes dogs and likes cats,buddhism and somewhat serious about it,no

In [265]:
# returning additional profiles based on any of the ones the user liked

answer = str(input('Any profile(s) catch your eye? (yes/no)'))

profile_lis = []
while answer == 'yes':
    profile = int(input('Name one profile (user_id) of interest: '))
    profile_lis.append(profile)
    answer = str(input('Any other profile(s) caught your eye? (yes/no)'))
    
more_matches2(invalue5, profile_lis, religion5, lowest_age5, highest_age5)

Any profile(s) catch your eye? (yes/no) yes
Name one profile (user_id) of interest:  48349
Any other profile(s) caught your eye? (yes/no) yes
Name one profile (user_id) of interest:  31845
Any other profile(s) caught your eye? (yes/no) no
Want to see more profiles? (yes/no) yes

Here are more profiles, based on the profile(s) of interest from earlier:

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
4813,0.727273,30,m,straight,athletic,vegetarian,not at all,never,doesn't have kids,likes dogs and likes cats,buddhism and somewhat serious about it,sometimes
50294,0.727273,30,m,straight,fit,anything,not at all,never,doesn't have kids,likes dogs,buddhism and somewhat serious about it,no
42179,0.727273,30,m,straight,average,mostly anything,not at all,never,doesn't have kids,likes dogs and likes cats,buddhism,no
19471,0.727273,26,m,straight,athletic,vegan,not at all,never,doesn't have kids,dislikes dogs and dislikes cats,buddhism,no
11348,0.727273,30,m,straight,fit,anything,socially,never,doesn't have kids,likes dogs and likes cats,buddhism,no

In [280]:
# gay male

invalue9 = ['25', 'm', 'gay', 'average', 'anything', 'yes', 'no', "has kid(s), but doesn't want more", 'likes dogs and cats', "doesn't matter", 'no']
highest_age9 = 35
lowest_age9 = 28
religion9 = "doesn't matter"

lover_recommender_test8(invalue9, religion9, lowest_age9, highest_age9)

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
16775,0.818182,29,m,gay,average,mostly anything,often,never,doesn't have kids,likes dogs and likes cats,atheism,no
46102,0.818182,28,m,gay,average,strictly anything,often,never,doesn't have kids,likes dogs and likes cats,judaism but not too serious about it,no
45626,0.818182,30,m,gay,average,anything,often,never,doesn't have kids,likes dogs and has cats,christianity but not too serious about it,no
42964,0.727273,29,m,gay,average,strictly anything,not at all,never,doesn't have kids,likes dogs and likes cats,atheism,no
35743,0.727273,28,m,gay,average,strictly anything,often,never,doesn't have kids,dislikes dogs and dislikes cats,atheism,no

In [283]:
# returning additional profiles based on any of the ones the user liked

answer = str(input('Any profile(s) catch your eye? (yes/no)'))

profile_lis = []
while answer == 'yes':
    profile = int(input('Name one profile (user_id) of interest: '))
    profile_lis.append(profile)
    answer = str(input('Any other profile(s) caught your eye? (yes/no)'))

more_matches2(invalue9, profile_lis, religion9, lowest_age9, highest_age9)

Any profile(s) catch your eye? (yes/no) yes
Name one profile (user_id) of interest:  16775
Any other profile(s) caught your eye? (yes/no) yes
Name one profile (user_id) of interest:  46102
Any other profile(s) caught your eye? (yes/no) yes
Name one profile (user_id) of interest:  45626
Any other profile(s) caught your eye? (yes/no) yes
Name one profile (user_id) of interest:  42964
Any other profile(s) caught your eye? (yes/no) no
Want to see more profiles? (yes/no) yes

Here are more profiles, based on the profile(s) of interest from earlier:

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
37664,0.909091,29,m,gay,a little extra,anything,socially,never,doesn't have kids,likes dogs and has cats,atheism and laughing about it,no
4236,0.909091,29,m,gay,average,anything,socially,never,doesn't have kids,has dogs and likes cats,atheism,no
48214,0.909091,29,m,gay,average,strictly anything,often,sometimes,doesn't have kids,likes dogs and likes cats,atheism but not too serious about it,no
22893,0.909091,29,m,gay,average,mostly anything,socially,never,doesn't have kids,likes dogs and has cats,atheism,no
2432,0.909091,29,m,gay,average,anything,often,never,doesn't have kids,dislikes dogs and dislikes cats,atheism,no

In [152]:
# gay female

invalue7 = ['30', 'f', 'gay', 'rather not say', 'vegetarian', 'yes', 'yes', "doesn't have kid(s), but wants kid(s)", 'dislikes dogs and cats', "christianity", 'yes']
highest_age7 = 45
lowest_age7 = 32
religion7 = "christianity"

lover_recommender_test8(invalue7, religion7, lowest_age7, highest_age7)

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
25664,0.363636,35,f,bisexual,curvy,mostly anything,often,never,"has kids, and might want more",has dogs,christianity,yes
49211,0.363636,32,f,gay,average,anything,socially,never,has a kid,dislikes dogs and dislikes cats,christianity,no
24990,0.272727,32,f,bisexual,average,anything,rarely,never,has kids,dislikes dogs and dislikes cats,christianity and somewhat serious about it,sometimes
42459,0.181818,43,f,bisexual,athletic,mostly anything,socially,never,"has kids, but doesn't want more",likes dogs and has cats,christianity and somewhat serious about it,no

In [310]:
# returning additional profiles based on any of the ones the user liked

answer = str(input('Any profile(s) catch your eye? (yes/no)'))

profile_lis = []
while answer == 'yes':
    profile = int(input('Name one profile (user_id) of interest: '))
    profile_lis.append(profile)
    answer = str(input('Any other profile(s) caught your eye? (yes/no)'))

more_matches2(invalue7, profile_lis, religion7, lowest_age7, highest_age7)

Any profile(s) catch your eye? (yes/no) yes
Name one profile (user_id) of interest:  49211
Any other profile(s) caught your eye? (yes/no) yes
Name one profile (user_id) of interest:  24990
Any other profile(s) caught your eye? (yes/no) no
Want to see more profiles? (yes/no) yes

Here are more profiles, based on the profile(s) of interest from earlier:

C:\Users\veron\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,similarity,age,sex,orientation,body_type,diet,drinks,drugs,offspring,pets,religion,smokes
user_id,,,,,,,,,,,,
58513,0.818182,42,f,gay,a little extra,mostly anything,socially,never,doesn't have kids,dislikes dogs and dislikes cats,christianity,no
42052,0.727273,33,f,gay,average,anything,socially,never,doesn't want kids,has dogs,christianity,no
52501,0.727273,34,f,gay,average,anything,not at all,never,"doesn't have kids, but wants them",dislikes dogs and dislikes cats,christianity,no
6254,0.636364,44,f,gay,curvy,strictly other,socially,never,doesn't want kids,dislikes dogs and dislikes cats,christianity and very serious about it,no
47403,0.636364,44,f,gay,average,anything,rarely,never,doesn't have kids,likes dogs and has cats,christianity and somewhat serious about it,sometimes